.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #1f1c18, #6b6b6b);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

.quiz-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    animation: fadeInDown 1s ease-in-out;
    color: white; 
}

.quiz-container p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.quiz-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #e10600;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.quiz-container button:hover {
    background-color: #b80000; 
}

.feedback {
    margin-top: 1rem;
    font-size: 1.2rem;
    animation: fadeIn 1s ease-in-out;
    color: #000000; 
}

.timer {
    margin-top: 1rem;
    font-size: 1.5rem;
    animation: fadeIn 1s ease-in-out;
    color: white; 
}

.score {
    margin-top: 1rem;
    font-size: 1.2rem;
    animation: fadeIn 1s ease-in-out;
    color: white; 
}

@keyframes fadeInDown {
    from {
    opacity: 0;
    transform: translateY(-20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
