/* Contenedor principal de la página de inicio */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

  /* Estilo del título */
.home-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    animation: fadeInDown 1s ease-in-out;
}

  /* Estilo de los botones */
.home-container .start-button,
.home-container .ranking-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}

.home-container .start-button:hover,
.home-container .ranking-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

  /* Animaciones */
@keyframes fadeInDown {
    from {
    opacity: 0;
    transform: translateY(-50px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
