.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #000000, #333333);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/* Estilo del título */
.home-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    animation: fadeInDown 1s ease-in-out;
    color: #ff4f4f; /* MotoGP red */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
}

/* Estilo de los botones */
.home-container .start-button,
.home-container .ranking-button {
    background-color: #ff4f4f; /* MotoGP red */
    color: #ffffff; /* Texto blanco */
    border: 2px solid #000000; /* Borde negro */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para botón */
}

.home-container .start-button:hover,
.home-container .ranking-button:hover {
    background-color: #e10600; /* Rojo más oscuro para hover */
    color: #ffffff; /* Texto blanco en hover */
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra mejorada en hover */
}
  /* Animaciones */
@keyframes fadeInDown {
    from {
    opacity: 0;
    transform: translateY(-50px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
